@layer components {
    :root {
        --vp-tui-blockquote-border-color: var(--vp-tui-border-color);
        --vp-tui-blockquote-border-style: dashed;
        --vp-tui-blockquote-bg: var(--vp-tui-c-bg);
        --vp-tui-blockquote-fg: inherit;
    }

    .vp-doc blockquote {
        border-left-color: var(--vp-tui-blockquote-border-color) !important;
        border-left-style: var(--vp-tui-blockquote-border-style) !important;
    }
}
