@layer components {
  .vp-doc blockquote {
    border-left-color: var(--vp-tui-blockquote-border-color) !important;
    border-left-style: var(--vp-tui-blockquote-border-style) !important;
    border-radius: 0 !important;
  }
}
