@layer components {
    :root {
        --vp-tui-custom-block-info-accent: theme('colors.blue.800');
        --vp-tui-custom-block-info-accent-fg: theme('colors.blue.100');
        --vp-tui-custom-block-info-border: var(--vp-tui-custom-block-info-accent);
        --vp-tui-custom-block-info-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-info-fg: theme('colors.blue.900');
        --vp-tui-custom-block-info-title-bg: var(--vp-tui-custom-block-info-accent);
        --vp-tui-custom-block-info-title-fg: var(--vp-tui-custom-block-info-accent-fg);

        --vp-tui-custom-block-note-accent: theme('colors.sky.800');
        --vp-tui-custom-block-note-accent-fg: theme('colors.sky.100');
        --vp-tui-custom-block-note-border: var(--vp-tui-custom-block-note-accent);
        --vp-tui-custom-block-note-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-note-fg: theme('colors.sky.900');
        --vp-tui-custom-block-note-title-bg: var(--vp-tui-custom-block-note-accent);
        --vp-tui-custom-block-note-title-fg: var(--vp-tui-custom-block-note-accent-fg);

        --vp-tui-custom-block-tip-accent: theme('colors.emerald.800');
        --vp-tui-custom-block-tip-accent-fg: theme('colors.emerald.100');
        --vp-tui-custom-block-tip-border: var(--vp-tui-custom-block-tip-accent);
        --vp-tui-custom-block-tip-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-tip-fg: theme('colors.emerald.900');
        --vp-tui-custom-block-tip-title-bg: var(--vp-tui-custom-block-tip-accent);
        --vp-tui-custom-block-tip-title-fg: var(--vp-tui-custom-block-tip-accent-fg);

        --vp-tui-custom-block-important-accent: theme('colors.violet.800');
        --vp-tui-custom-block-important-accent-fg: theme('colors.violet.100');
        --vp-tui-custom-block-important-border: var(--vp-tui-custom-block-important-accent);
        --vp-tui-custom-block-important-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-important-fg: theme('colors.violet.900');
        --vp-tui-custom-block-important-title-bg: var(--vp-tui-custom-block-important-accent);
        --vp-tui-custom-block-important-title-fg: var(--vp-tui-custom-block-important-accent-fg);

        --vp-tui-custom-block-warning-accent: theme('colors.amber.800');
        --vp-tui-custom-block-warning-accent-fg: theme('colors.amber.100');
        --vp-tui-custom-block-warning-border: var(--vp-tui-custom-block-warning-accent);
        --vp-tui-custom-block-warning-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-warning-fg: theme('colors.amber.900');
        --vp-tui-custom-block-warning-title-bg: var(--vp-tui-custom-block-warning-accent);
        --vp-tui-custom-block-warning-title-fg: var(--vp-tui-custom-block-warning-accent-fg);

        --vp-tui-custom-block-danger-accent: theme('colors.red.800');
        --vp-tui-custom-block-danger-accent-fg: theme('colors.red.100');
        --vp-tui-custom-block-danger-border: var(--vp-tui-custom-block-danger-accent);
        --vp-tui-custom-block-danger-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-danger-fg: theme('colors.red.900');
        --vp-tui-custom-block-danger-title-bg: var(--vp-tui-custom-block-danger-accent);
        --vp-tui-custom-block-danger-title-fg: var(--vp-tui-custom-block-danger-accent-fg);

        --vp-tui-custom-block-caution-accent: theme('colors.pink.800');
        --vp-tui-custom-block-caution-accent-fg: theme('colors.pink.100');
        --vp-tui-custom-block-caution-border: var(--vp-tui-custom-block-caution-accent);
        --vp-tui-custom-block-caution-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-caution-fg: theme('colors.pink.900');
        --vp-tui-custom-block-caution-title-bg: var(--vp-tui-custom-block-caution-accent);
        --vp-tui-custom-block-caution-title-fg: var(--vp-tui-custom-block-caution-accent-fg);

        --vp-tui-custom-block-details-accent: theme('colors.zinc.800');
        --vp-tui-custom-block-details-accent-fg: theme('colors.white');
        --vp-tui-custom-block-details-border: var(--vp-tui-custom-block-details-accent);
        --vp-tui-custom-block-details-bg: var(--vp-tui-custom-block-details-accent-fg);
        --vp-tui-custom-block-details-fg: theme('colors.zinc.900');
        --vp-tui-custom-block-details-summary-bg: var(--vp-tui-custom-block-details-accent-fg);
    }

    .dark {
        --vp-tui-custom-block-info-accent: theme('colors.blue.400');
        --vp-tui-custom-block-info-accent-fg: theme('colors.blue.900');
        --vp-tui-custom-block-info-border: var(--vp-tui-custom-block-info-accent);
        --vp-tui-custom-block-info-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-info-fg: theme('colors.blue.100');
        --vp-tui-custom-block-info-title-bg: var(--vp-tui-custom-block-info-accent);
        --vp-tui-custom-block-info-title-fg: var(--vp-tui-custom-block-info-accent-fg);

        --vp-tui-custom-block-note-accent: theme('colors.sky.400');
        --vp-tui-custom-block-note-accent-fg: theme('colors.sky.900');
        --vp-tui-custom-block-note-border: var(--vp-tui-custom-block-note-accent);
        --vp-tui-custom-block-note-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-note-fg: theme('colors.sky.100');
        --vp-tui-custom-block-note-title-bg: var(--vp-tui-custom-block-note-accent);
        --vp-tui-custom-block-note-title-fg: var(--vp-tui-custom-block-note-accent-fg);

        --vp-tui-custom-block-tip-accent: theme('colors.emerald.400');
        --vp-tui-custom-block-tip-accent-fg: theme('colors.emerald.900');
        --vp-tui-custom-block-tip-border: var(--vp-tui-custom-block-tip-accent);
        --vp-tui-custom-block-tip-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-tip-fg: theme('colors.emerald.100');
        --vp-tui-custom-block-tip-title-bg: var(--vp-tui-custom-block-tip-accent);
        --vp-tui-custom-block-tip-title-fg: var(--vp-tui-custom-block-tip-accent-fg);

        --vp-tui-custom-block-important-accent: theme('colors.violet.400');
        --vp-tui-custom-block-important-accent-fg: theme('colors.violet.900');
        --vp-tui-custom-block-important-border: var(--vp-tui-custom-block-important-accent);
        --vp-tui-custom-block-important-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-important-fg: theme('colors.violet.100');
        --vp-tui-custom-block-important-title-bg: var(--vp-tui-custom-block-important-accent);
        --vp-tui-custom-block-important-title-fg: var(--vp-tui-custom-block-important-accent-fg);

        --vp-tui-custom-block-warning-accent: theme('colors.amber.400');
        --vp-tui-custom-block-warning-accent-fg: theme('colors.amber.900');
        --vp-tui-custom-block-warning-border: var(--vp-tui-custom-block-warning-accent);
        --vp-tui-custom-block-warning-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-warning-fg: theme('colors.amber.100');
        --vp-tui-custom-block-warning-title-bg: var(--vp-tui-custom-block-warning-accent);
        --vp-tui-custom-block-warning-title-fg: var(--vp-tui-custom-block-warning-accent-fg);

        --vp-tui-custom-block-danger-accent: theme('colors.red.400');
        --vp-tui-custom-block-danger-accent-fg: theme('colors.red.900');
        --vp-tui-custom-block-danger-border: var(--vp-tui-custom-block-danger-accent);
        --vp-tui-custom-block-danger-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-danger-fg: theme('colors.red.100');
        --vp-tui-custom-block-danger-title-bg: var(--vp-tui-custom-block-danger-accent);
        --vp-tui-custom-block-danger-title-fg: var(--vp-tui-custom-block-danger-accent-fg);

        --vp-tui-custom-block-caution-accent: theme('colors.pink.400');
        --vp-tui-custom-block-caution-accent-fg: theme('colors.pink.900');
        --vp-tui-custom-block-caution-border: var(--vp-tui-custom-block-caution-accent);
        --vp-tui-custom-block-caution-bg: var(--vp-tui-c-bg);
        --vp-tui-custom-block-caution-fg: theme('colors.pink.100');
        --vp-tui-custom-block-caution-title-bg: var(--vp-tui-custom-block-caution-accent);
        --vp-tui-custom-block-caution-title-fg: var(--vp-tui-custom-block-caution-accent-fg);

        --vp-tui-custom-block-details-accent: theme('colors.zinc.300');
        --vp-tui-custom-block-details-accent-fg: theme('colors.zinc.900');
        --vp-tui-custom-block-details-border: var(--vp-tui-custom-block-details-accent);
        --vp-tui-custom-block-details-bg: var(--vp-tui-custom-block-details-accent-fg);
        --vp-tui-custom-block-details-fg: theme('colors.zinc.100');
        --vp-tui-custom-block-details-summary-bg: var(--vp-tui-custom-block-details-accent-fg);
    }

    .custom-block {
        border: var(--vp-tui-border-width) solid var(--vp-tui-border-color) !important;
        border-radius: var(--vp-tui-border-radius) !important;
        background-color: var(--vp-tui-c-bg) !important;
        margin-top: 28px !important;
    }

    .custom-block-title {
        margin-top: -28px !important;
        align-self: flex-start !important;
        justify-self: flex-start !important;
    }
    .custom-block-title:before, .custom-block-title:after {
        content: "" !important;
        width: 8px !important;
        height: 8px !important;
        display: inline-block !important;
        overflow: hidden !important;
    }

    .custom-block.info {
        border-color: var(--vp-tui-custom-block-info-border) !important;
        background-color: var(--vp-tui-custom-block-info-bg) !important;
        color: var(--vp-tui-custom-block-info-fg) !important;
    }
    .custom-block.info .custom-block-title {
        background-color: var(--vp-tui-custom-block-info-title-bg) !important;
        color: var(--vp-tui-custom-block-info-title-fg) !important;
    }

    .custom-block.note {
        border-color: var(--vp-tui-custom-block-note-border) !important;
        background-color: var(--vp-tui-custom-block-note-bg) !important;
        color: var(--vp-tui-custom-block-note-fg) !important;
    }
    .custom-block.note .custom-block-title {
        background-color: var(--vp-tui-custom-block-note-title-bg) !important;
        color: var(--vp-tui-custom-block-note-title-fg) !important;
    }

    .custom-block.tip {
        border-color: var(--vp-tui-custom-block-tip-border) !important;
        background-color: var(--vp-tui-custom-block-tip-bg) !important;
        color: var(--vp-tui-custom-block-tip-fg) !important;
    }
    .custom-block.tip .custom-block-title {
        background-color: var(--vp-tui-custom-block-tip-title-bg) !important;
        color: var(--vp-tui-custom-block-tip-title-fg) !important;
    }

    .custom-block.important {
        border-color: var(--vp-tui-custom-block-important-border) !important;
        background-color: var(--vp-tui-custom-block-important-bg) !important;
        color: var(--vp-tui-custom-block-important-fg) !important;
    }
    .custom-block.important .custom-block-title {
        background-color: var(--vp-tui-custom-block-important-title-bg) !important;
        color: var(--vp-tui-custom-block-important-title-fg) !important;
    }

    .custom-block.warning {
        border-color: var(--vp-tui-custom-block-warning-border) !important;
        background-color: var(--vp-tui-custom-block-warning-bg) !important;
        color: var(--vp-tui-custom-block-warning-fg) !important;
    }
    .custom-block.warning .custom-block-title {
        background-color: var(--vp-tui-custom-block-warning-title-bg) !important;
        color: var(--vp-tui-custom-block-warning-title-fg) !important;
    }

    .custom-block.danger {
        border-color: var(--vp-tui-custom-block-danger-border) !important;
        background-color: var(--vp-tui-custom-block-danger-bg) !important;
        color: var(--vp-tui-custom-block-danger-fg) !important;
    }
    .custom-block.danger .custom-block-title {
        background-color: var(--vp-tui-custom-block-danger-title-bg) !important;
        color: var(--vp-tui-custom-block-danger-title-fg) !important;
    }

    .custom-block.caution {
        border-color: var(--vp-tui-custom-block-caution-border) !important;
        background-color: var(--vp-tui-custom-block-caution-bg) !important;
        color: var(--vp-tui-custom-block-caution-fg) !important;
    }
    .custom-block.caution .custom-block-title {
        background-color: var(--vp-tui-custom-block-caution-title-bg) !important;
        color: var(--vp-tui-custom-block-caution-title-fg) !important;
    }

    .custom-block.details {
        border-color: var(--vp-tui-custom-block-details-border) !important;
        background-color: var(--vp-tui-custom-block-details-bg) !important;
        color: var(--vp-tui-custom-block-details-fg) !important;
    }
    .custom-block.details summary {
        margin-top: -28px !important;
        background-color: var(--vp-tui-custom-block-details-summary-bg) !important;
        align-self: flex-start !important;
        justify-self: flex-start !important;
    }
    .custom-block.details summary:after {
        content: "" !important;
        width: 8px !important;
        height: 8px !important;
        display: inline-block !important;
        overflow: hidden !important;
    }
}
