@layer components {
  .vp-doc :not(pre) > code {
    background-color: var(--vp-tui-inline-code-bg) !important;
    color: var(--vp-tui-inline-code-fg) !important;
    border: var(--vp-tui-inline-code-border-width) var(--vp-tui-inline-code-border-style)
      var(--vp-tui-inline-code-border-color) !important;
    border-radius: var(--vp-tui-inline-code-border-radius) !important;
  }
}
