@layer base {
  :root {
    --vp-tui-c-bg: var(--vp-c-bg);
    --vp-tui-border-radius: 0;
    --vp-tui-border-width: 2px;
    --vp-tui-font-family: 'IBM Plex Mono', monospace;

    --vp-tui-aside-indicator-left: 20px;
    --vp-tui-aside-indicator-width: 200px;
  }
}

@layer overrides {
  :not(.vp-tui-raw *) {
    border-radius: var(--vp-tui-border-radius) !important;
    font-family: var(--vp-tui-font-family) !important;
  }

  .vp-tui-raw * {
    font-family: var(--vp-font-family-base) !important;
  }
}
